body{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
}
.menu
{
    width: 100%;
    height: 50px;
    background-color:dodgerblue;
    margin-top: 2%;
}
.menu li
{
    list-style: none;
    width: 160px;
    height: 50px;
    background-color: dodgerblue;
    margin:5px;
    text-align: center;
    line-height: 50px;
    float:left;
    margin-left: 20px;
    margin-top: 0%;
    
} .menu li a
{
color: white;
display: block;
text-decoration: none;
}
.menu li:hover{
    background-color: black;
}
.logo{
    width: 80%;
}
 
    
 .search-container {
    display: flex;
    align-items: center;
    margin-left: 20px;

}
.search-container li:hover{
    background-color:darkcyan;
}

.search-button {
    padding: 1px 1px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 30px; 
}

.search-button:hover {
    background-color: #218838;
    margin-top: 40%;
} .box1
{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
}